<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlizzardFileVersion</key>
	<string>6.0.3.19243</string>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>Global</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpq</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpq.icns</string>
			<key>CFBundleTypeName</key>
			<string>World of Warcraft Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W!pq</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>World of Warcraft</string>
	<key>CFBundleGetInfoString</key>
	<string>World of Warcraft 6.0.3 (19243), Copyright © 2004-2014 Blizzard Entertainment.  All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>wow.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.blizzard.worldofwarcraft</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>World of Warcraft</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.3 (19243)</string>
	<key>CFBundleSignature</key>
	<string>WoW!</string>
	<key>CFBundleVersion</key>
	<string>19243</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>GLApplicationSystemRequirementsPage</key>
	<string>https://www.battle.net/support/article/300493</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.8</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004-2014 Blizzard Entertainment.  All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SVNBranch</key>
	<string></string>
	<key>SVNRevision</key>
	<string></string>
</dict>
</plist>
